<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href="{{ url_for('static', filename = 'img/icono.icon') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Datos futuros</title>
</head>
<body>
    <div class="datos">
        <header class="header">
            <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand">¡BIENVENIDO AL MODELO LUPO!</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/prueba">Probar modelo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/datos">Ver datos</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </nav> 
        </header>
        <div class="contenedor_datos">
            <div class="area_historico">
                <article class="zona_graficos">
                    <h2 class="titulo">Filtro de predicciones por fecha</h2>
                    <p>Ingresa la fecha con formato "AAAA-MM-DD"</p>
                        <form action = "/fechaBuscada" method = "post">
                            <input type="text" name="fecha" placeholder="Ingrese una fecha en A-M-D">
                            <button type = "submit">Buscar</button>
                        </form>
                </article>
            </div>
            <div class="area_graficos">
                <article>
                    <section class="zona_historico">
                        <h2 class="titulo">Datos historicos utilizados en las predicciones</h2>
                        <h3>Visualización de datos en Año/Mes/Día</h3>
                        
                        <!--
                            Se utiliza jinja2 para hacer la visualización y correspondiente actualización de los datos mediante un for que recorra todas nuestras colecciones
                        -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td scope="col">Fecha</td>
                                    <td scope="col">Hora</td>
                                    <td scope="col">Po</td>
                                    <td scope="col">T</td>
                                    <td scope="col">U</td>
                                    <td scope="col">Ff</td>
                                    <td scope="col">RRR</td>
                                </tr>
                            </thead>
                            <tbody>
                                {%for precipitacion in precipitaciones %}
                                <tr>
                                    <td>{{precipitacion.fecha}}</td>
                                    <td>{{precipitacion.hora}}</td>
                                    <td>{{precipitacion.Po}}</td>
                                    <td>{{precipitacion.T}}</td>
                                    <td>{{precipitacion.U}}</td>
                                    <td>{{precipitacion.Ff}}</td>
                                    <td>{{precipitacion.RRR}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </section>
                </article>
            </div>
        </div>
        <footer class="footer">
            <div class="card text mb-3"  align="center">
                <div class="card-header">
                    ¡Gracias por utilizar el algoritmo LUPO!
                </div>
                <div class="card-body">
                    <h5 class="card-title">AUTORES</h5>
                    <a href="https://github.com/LuisCarlosRinconG" class="btn btn-primary">Luis Carlos Rincón</a>
                    <a href="https://linktr.ee/ThePolanco" class="btn btn-primary">Jeison Stiven Polanco</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>