<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href="{{ url_for('static', filename = 'img/icono.icon') }}">
    <title>Datos futuros</title>
</head>
<body>
    <div class="datos">
        <header>
            <nav class="nav">
                <ul class="nav_ul_">
                    <h1 class="titulo">¡BIENVENIDO A LA SECCIÓN DE VISTA DE DATOS TOMADOS POR LA ESTACIÓN METEREOLOGICA!</h1>
                </ul>
            </nav>
        </header> 
        <div class="contenedor_datos">
            <div class="area_historico">
                <article class="zona_graficos">
                    <h2 class="titulo">Filtro de predicciones por fecha</h2>
                    <p>Ingresa la fecha con formato "AAAA-MM-DD"</p>

                        <form action = "/fechaBuscada" method = "post">
                        <input type="text" name="fecha" placeholder="Ingrese una fecha en A-M-D">
                        <button type = "submit">Guardar</button>
                        </form>
                                            
                    
                </article>

            </div>
            <div class="area_graficos">
                
                <article>
                    <section class="zona_historico">
                        <h2 class="titulo">Datos historicos utilizados en las predicciones</h2>
                        <h3>Visualización de datos en Año/Mes/Día</h3>
                        
                        <!--
                            Se utiliza jinja2 para hacer la visualización y correspondiente actualización de los datos mediante un for que recorra todas nuestras colecciones
                        -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Fecha</td>
                                    <td>Hora</td>
                                    <td>Po</td>
                                    <td>T</td>
                                    <td>U</td>
                                    <td>Ff</td>
                                    <td>RRR</td>
                                </tr>
                            </thead>
                            <tbody>
                                {%for precipitacion in precipitaciones %}
                                <tr>
                                    <td>{{precipitacion.fecha}}</td>
                                    <td>{{precipitacion.hora}}</td>
                                    <td>{{precipitacion.Po}}</td>
                                    <td>{{precipitacion.T}}</td>
                                    <td>{{precipitacion.U}}</td>
                                    <td>{{precipitacion.Ff}}</td>
                                    <td>{{precipitacion.RRR}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </section>
                </article>
            </div>
        </div>
        <footer class="footer">
            <ul class="nav_foo">
                <li class="nav_li1"><a href="#">Acerca de</a></li>
                <li class="nav_li1"><a href="#">Lineas de atención</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>