<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href="{{ url_for('static', filename = 'img/icono.icon') }}">
    <title>Datos futuros</title>
</head>
<body>
    <div class="datos">
        <header>
            <nav class="nav">
                <ul class="nav_ul_">
                    <h1 class="titulo">¡BIENVENIDO AL LA SECCIÓN DE VISTA DE DATOS TOMADOS POR LA ESTACIÓN METEREOLOGICA!</h1>
                </ul>
            </nav>
        </header> 
        <div class="contenedor_datos">
            <div class="area_historico">
                <article>
                    <section class="zona_historico">
                        <h2 class="titulo">Datos historicos de predicciones</h2>
                        <h1>BIENVENIDO</h1>
                        <h2>* Visualización de datos en Año/Mes/Día </h2>
                        
                        <!--
                            Se utiliza jinja2 para hacer la visualización y correspondiente actualización de los datos mediante un for que recorra todas nuestras colecciones
                        -->
                    
                        {%for precipitacion in precipitaciones %}
                    
                        <li>
                            <h2></h2> 
                            Fecha:  {{precipitacion.fecha}} <br>
                            Hora:  {{precipitacion.hora}}<br>
                            Po:  {{precipitacion.Po}}<br>
                            T:  {{precipitacion.T}}<br>
                            U:  {{precipitacion.U}}<br>
                            Ff:  {{precipitacion.Ff}}<br>
                            RRR:  {{precipitacion.RRR}}<br>
                             <br>
                     </li>
                
                        {%endfor%}
                        
                    </section>
                </article>
            </div>
            <div class="area_graficos">
                <article class="zona_graficos">
                    <h2 class="titulo">Graficos de predicciones por fecha</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora dignissimos iure, aliquid soluta inventore odio culpa amet reprehenderit itaque tenetur laudantium aspernatur, asperiores nostrum autem magnam cupiditate natus eos.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, necessitatibus quibusdam. Mollitia voluptates, ab nam porro modi officia tenetur eligendi optio rerum nisi ea similique inventore, officiis rem dolores sunt?
                    </p>
                </article>
            </div>
        </div>
        <footer class="footer">
            <ul class="nav_foo">
                <li class="nav_li1"><a href="#">Acerca de</a></li>
                <li class="nav_li1"><a href="#">Lineas de atención</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>