<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href="{{ url_for('static', filename = 'img/icono.icon') }}">
    <title>Error 404 - Página no encontrada</title>
</head>
<body>
    <div class="nav">
        <h1 class="titulo">Error 404 - Página no encontrada</h1>
    </div>

    <div class="contenedor_404">
        <div class="area_404">
            <p>Lo sentimos, la página que estás buscando no existe.</p>
        </div>
    </div>
</body>
</html>