<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../assets/js/color-modes.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href="{{ url_for('static', filename = 'img/icono.icon') }}">
    <title>Predicción de precipitaciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <div class="index">
        <!--Parte superior del index-->
        <header class="header">
            <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <img class="escudo" 
                        src="{{ url_for('static', filename = 'img/escudo1.png') }}" 
                        alt="UdeC Simbolo 1" 
                        style="display: inline-block; max-width: 5%; height: auto;">
                    <h1 class="display-5 text-center" style="color: white;">¡Bienvenido al modelo LUPO!</h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/prueba">Probar modelo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/datos">Ver datos</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!--Cuerpo del index-->
        <div class="contenedor">
            <div class="area_1">
                <article>
                    <section class="zona_1">
                        <h3 class="titulo">predicción de la ultima cadena de datos ingresados</h3>
                        <p>
                            las predicciones de la fecha {{Predicciones.FFecha}} en la hora {{Predicciones.HHora}} dice que:<br>
                            <h2>{{Predicciones.lluvia}}</h2>

                        </p>
                    </section>
                </article>
            </div>
            <div class="area_2">
                <article class="zona_2">
                    <h3 class="titulo">Datos actualizados de predicciones segun el modelo:</h3>
                    
                    <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <section class="area_model">
                                    <h4>Random Forest</h4>
                                    <p class="porciento">{{ Predicciones.PorcentajeRF * 100 }}%</p>
                                    <h5>Las predicciones son:</h5>
                                    <ul>
                                        <p>{{ Predicciones.prediccionesRF }}</p>
                                    </ul>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="area_model">
                                    <h4></i>Máquina de Vector Soporte</i></h4>
                                    <p class="porciento">{{ Predicciones.PorcentajeMVS * 100 }}%</p>
                                    <h5>Las predicciones son:</h5>
                                    <ul>
                                        <p>{{ Predicciones.prediccionesMVS }}</p>
                                    </ul>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="area_model">
                                    <h4></i>Naive Bayes</h4>
                                    <p class="porciento">{{ Predicciones.PorcentajeNV * 100 }}%</p>
                                    <h5>Las predicciones son:</h5>
                                    <ul>
                                        <p>{{ Predicciones.prediccionesNV }}</p>
                                    </ul>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="area_model">
                                    <h4></i>Lupo</h4>
                                    <p class="porciento">{{ Predicciones.LupoOcurrencia * 100 }}%</p>
                                    <h5>Las predicciones son:</h5>
                                    <ul>
                                        <p>{{ Predicciones.LupoRTA }}</p>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </article>
            </div>
        </div>      
    
        <div class="contenedor_2">
            <div class="button1" align="center">
                <div class="card border-info">
                    <div class="card text-bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Probar modelo</h5>
                            <p class="card-text">Prueba el modelo con un conjunto de datos que tengas</p>
                            <a href="/prueba" class="btn btn-primary">PRUEBA</a>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="button2" align="center">
                <div class="card border-info">
                    <div class="card text-bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Visualizar datos</h5>
                            <p class="card-text">Visualiza los datos de la estación metereologica de la UdeC</p>
                            <a href="/datos" class="btn btn-primary">VER</a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>

        <!--Parte inferior del index-->
        <footer class="container py-5">
            <div class="row">
                <div class="col-8 col-md">
                    <img class="escudo" 
                        src="{{ url_for('static', filename = 'img/escudo.png') }}" alt="UdeC Simbolo" 
                        style="max-width: 60%; height: auto;">
                    <br>
                    <small class="link-secondary text-decoration-none">&copy; 2023 - UdeC</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Funciones</h5>
                        <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="/">Inicio</a></li>
                        <li><a class="link-secondary text-decoration-none" href="/prueba">Probar modelo</a></li>
                        <li><a class="link-secondary text-decoration-none" href="/datos">Ver datos</a></li>
                        </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Recursos</h5>
                        <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="#">Documentación</a></li>
                        <li><a class="link-secondary text-decoration-none" href="#">Articulo modelos</a></li>
                        </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Equipo</h5>
                        <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="https://github.com/LuisCarlosRinconG">Luis Rincón Gordo</a></li>
                        <li><a class="link-secondary text-decoration-none" href="https://linktr.ee/ThePolanco">Jeison Polanco Montaño</a></li>
                        </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>