<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css">
    <link rel = "icon" href="{{ url_for('static', filename = 'img/icono.icon') }}">
    <title>DB-MCPP</title>
</head>
<body>
    <div class="registro_DB">
        <header class="header">
            <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <img class="escudo" 
                        src="{{ url_for('static', filename = 'img/MCPP.png') }}" 
                        alt="Logo" 
                        style="display: inline-block; max-width: 5%; height: auto;">
                    <abbr title="Modelo Comparativo Predictivo de Precipitaciones"><h1 class="display-5 text-center" style="color: white;">¡Bienvenido al modelo MCPP!</h1></abbr>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ url_for('logout') }}">Cerrar sesión</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <h1 class="text-center">BIENVENIDO</h1>
        <h2 class="subtitle">Registro de datos para el modelo MCPP</h2>
        <div class="container_digitar">
            <form class="registros" action="/guardar_datos" method="post">
                <div class="form-group small-input">
                    <label for="fecha">Fecha</label>
                    <input type="text" class="input-field" id="fecha" name="fecha" placeholder="AAAA-MM-DD" required>
                </div>
                <div class="form-group small-input">
                    <label for="hora">Hora</label>
                    <input type="text" class="input-field" id="hora" name="hora" placeholder="00:00:00" required>
                </div>
                <div class="form-group">
                    <label for="Po">Presión</label>
                    <input type="text" class="input-field" id="Po" name="Po" placeholder="Po" required>
                </div>
                <div class="form-group">
                    <label for="T">Temperatura</label>
                    <input type="text" class="input-field" id="T" name="T" placeholder="T" required>
                </div>
                <div class="form-group">
                    <label for="U">Humedad</label>
                    <input type="text" class="input-field" id="U" name="U" placeholder="U" required>
                </div>
                <div class="form-group">
                    <label for="Ff">Vel. viento</label>
                    <input type="text" class="input-field" id="Ff" name="Ff" placeholder="Ff" required>
                </div>
                <div class="form-group">
                    <label for="RRR">Precipitación</label>
                    <input type="number" class="input-field" id="RRR" name="RRR" placeholder="RRR" step="1" min="0" max="1" required>
                </div>
                <div class="boton">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>    

        <h2 class="subtitle">Visualización de datos</h2>
        <div class="container">
            <form action="{{ url_for('buscar_por_fecha') }}" method="post" class="form-inline">
                <label for="fechaBusqueda">Buscar por fecha:</label>
                <input type="text" id="fechaBusqueda" name="fechaBusqueda" class="form-control" placeholder="AAAA-MM-DD" required>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            
            <form action="{{ url_for('inicioDB') }}" method="post" class="form-inline">
                <label for="cantidadDatos">Mostrar n cantidad de registros:</label>
                <input type="number" id="cantidadDatos" name="cantidadDatos" min="1" max="100" value="30" class="form-control" required>
                <button type="submit" class="btn btn-primary">Mostrar</button>
            </form>
            {% for precipitacion in precipitaciones %}
            <form action="/editar_dato/{{ precipitacion.fecha }}" method="post">
                <h4>Fecha</h4>
                <input type="text" class="input-field" name="fecha" value="{{ precipitacion.fecha }}" required>
                <h4>Hora</h4>
                <input type="text" class="input-field" name="hora" value="{{ precipitacion.hora }}" required>
                <h4>Po</h4>
                <input type="text" class="input-field" name="Po" value="{{ precipitacion.Po }}" required>
                <h4>T</h4>
                <input type="text" class="input-field" name="T" value="{{ precipitacion.T }}" required>
                <h4>U</h4>
                <input type="text" class="input-field" name="U" value="{{ precipitacion.U }}" required>
                <h4>Ff</h4>
                <input type="text" class="input-field" name="Ff" value="{{ precipitacion.Ff }}" required>
                <h4>RRR</h4>
                <input type="number" class="input-field" name="RRR" value="{{ precipitacion.RRR }}" required>
                <br>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <br>
                <a href="{{ url_for('eliminar', fecha_Precipitacion=precipitacion.fecha) }}" onclick="return confirm('¿Está seguro de eliminar el registro con la fecha {{ precipitacion.fecha }}? ')" class="btn btn-danger mt-2">Eliminar registro de la DB</a>
                <br>
            </form>
            {% endfor %}
        </div>
        <footer class="container py-5">
            <div class="row">
                <div class="col-8 col-md">
                    <img class="escudo" 
                        src="{{ url_for('static', filename = 'img/escudo.png') }}" alt="UdeC Simbolo" 
                        style="max-width: 60%; height: auto;">
                    <br>
                    <small class="link-secondary text-decoration-none">&copy; 2023 - UdeC</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Recursos</h5>
                        <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="#">Manual de usuario</a></li>
                        <li><a class="link-secondary text-decoration-none" href="#">Documentación</a></li>
                        </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Equipo</h5>
                        <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="https://linktr.ee/LuisCarlosRinconGordo">Luis Rincón Gordo</a></li>
                        <li><a class="link-secondary text-decoration-none" href="https://linktr.ee/ThePolanco">Jeison Polanco Montaño</a></li>
                        </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>