<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos_login.css">
    <link rel = "icon" href="{{ url_for('static', filename = 'img/icono.icon') }}">
    <title>Ingresar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
                <img class="escudo" 
                    src="{{ url_for('static', filename = 'img/MCPP.png') }}" 
                    alt="Logo" 
                    style="display: inline-block; max-width: 5%; height: auto;">
                <abbr title="Modelo Comparativo Predictivo de Precipitaciones"><h1 class="display-5 text-center" style="color: white;">¡Gestión modelo MCPP!</h1></abbr>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/prueba">Probar modelo</a>
                            </li>
                        
                            <li class="nav-item">
                            <a class="nav-link" href="/login">Administrador</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="background-radial-gradient overflow-hidden">
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> MCPP-UDEC<br/>
                        <span style="color: hsl(218, 81%, 75%)">CRUD de la estación UDEC</span>
                    </h1>
                    <p class="mb-4 opacity-70" style="color: white; text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5);">
                        Esta sección está reservada exclusivamente para el personal a cargo de la base de datos de la
                        estación meteorológica de la Universidad de Cundinamarca. 
                        No es posible crear una cuenta, ya que solo los usuarios autorizados tienen acceso permitido.
                    </p>                
                </div>
        
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h1 class="h3 mb-3" style="color: black;">Ingreso MCPP</h1>
                            <form action = "/validar" method = "post">
                                <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name = "usuario">
                                <br>
                                <label for="inputPassword5" class="form-label">Contraseña</label>
                                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name = "password">
                                <div id="passwordHelpBlock" class="form-text">
                                </div>
                                <br>
                                <button class="btn btn-primary w-100 py-2" type="submit">Ingresar</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container py-5">
        <div class="row">
            <div class="col-8 col-md">
                <img class="escudo" 
                    src="{{ url_for('static', filename = 'img/escudo.png') }}" alt="UdeC Simbolo" 
                    style="max-width: 60%; height: auto;">
                <br>
                <small class="link-secondary text-decoration-none">&copy; 2023 - UdeC</small>
            </div>
            <div class="col-6 col-md">
                <h5>Funciones</h5>
                    <ul class="list-unstyled text-small">
                    <li><a class="link-secondary text-decoration-none" href="/">Inicio</a></li>
                    <li><a class="link-secondary text-decoration-none" href="/prueba">Probar modelo</a></li>
                    <li><a class="link-secondary text-decoration-none" href="/login">Administrador</a></li>
                    </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Recursos</h5>
                    <ul class="list-unstyled text-small">
                    <li><a class="link-secondary text-decoration-none" href="#">Manual de usuario</a></li>
                    <li><a class="link-secondary text-decoration-none" href="#">Documentación</a></li>
                    <li><a class="link-secondary text-decoration-none" href="#">Articulo modelos</a></li>
                    </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Equipo</h5>
                    <ul class="list-unstyled text-small">
                    <li><a class="link-secondary text-decoration-none" href="https://linktr.ee/LuisCarlosRinconGordo">Luis Rincón Gordo</a></li>
                    <li><a class="link-secondary text-decoration-none" href="https://linktr.ee/ThePolanco">Jeison Polanco Montaño</a></li>
                    </ul>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>