<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos_login.css">
    <title>Ingresar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <section class="background-radial-gradient overflow-hidden">
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> MCPP-UDEC<br/>
                        <span style="color: hsl(218, 81%, 75%)">CRUD de la estaación UDEC</span>
                    </h1>
                    <p class="mb-4 opacity-70" style="color: white; text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5);">
                        Este apartado es solo para encargaados de la estación meteorologica de la Universidad de Cunndinamarca
                        No hay forma de crear una cuenta, solo usuarios permitidos pueden ingresar.
                    </p>                
                </div>
        
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h1 class="h3 mb-3" style="color: black;">Ingreso MCPP</h1>
                            <form action = "/validar" method = "post">
                                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="usuario" name = "usuario">
                                <br>
                                <label for="inputPassword5" class="form-label">Contraseña</label>
                                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name = "password">
                                <div id="passwordHelpBlock" class="form-text">
                                </div>
                                <br>
                                <button class="btn btn-primary w-100 py-2" type="submit">Ingresar</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>3013707162</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>udesoft@outlook.com</p>
            </div>
            <div class="content-foo">
                <h4>location</h4>
                <p>Villa De San Diego De Ubaté</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Universidad De Cundinamarca | Facultad De Ingenieria</h2>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>