<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probar modelo</title>
</head>
<body>
    <div class="prueba">
        <header>
            <nav class="nav">
                <ul class="nav_ul_">
                    <h1 class="titulo">¡BIENVENIDO AL LA SECCIÓN DE PRUEBA DEL MODELO!</h1>
                </ul>
            </nav>
        </header>
        <div class="contenedor_test">
            <div class="area_subir">
                <section>
                    <h2>Carga tu archivo con nombre: "archivo" y extensión "csv" => "archivo.csv"</h2>
                    <!--Con el atributo accept para recibir solo archivos de tipo csv-->
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" name="archivo">
                        <input type="submit">
                    </form>
                </section>
            </div>
            <div class="area_subir">
                <h2>Selecciona los porcentajes de prueba y entrenamiento</h2>
                <form>
                    <label for="porcentaje1">Entrenamiento:</label>
                    <input type="number" id="porcentaje1" name="porcentaje1" min="0" max="100" step="1"> %
                    <br>
                    <label for="porcentaje2">Prueba:</label>
                    <input type="number" id="porcentaje2" name="porcentaje2" min="0" max="100" step="1"> %
                    <br><br>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <div class="muestra">
                <section>
                    <h2>Un ejemplo de como se ve el formato del archivo</h2>
                    <img class="ejemplo" src="static/img/ejemplo.png">
                </section>
            </div>
        </div>
        <footer class="footer">
            <ul class="nav_foo">
                <li class="nav_li1"><a href="#">Acerca de</a></li>
                <li class="nav_li1"><a href="#">Lineas de atención</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>

