<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados de Predicción</title>
    <link rel = "icon" href="{{ url_for('static', filename = 'img/icono.icon') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-5sArXKGvUs7I7FfS3d1Knz6Hcd8eGLjI4lczp3L9zOcSw5FllFpTzp5LI9O5z4ls" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="resultados">
        <header>
            <nav class="nav">
                <ul class="nav_ul">
                    <h1 class="titulo">¡BIENVENIDO A TUS RESULTADOS DE PREDICCIÓN!</h1></li>
                </ul>
            </nav>
        </header>
        <div class="contenedor_result">
            <section class="area_modelo">
                <h2>Tu porcentaje de efectividad segun el modelo Random Forest <i class="fas fa-tree"></i></h2>
                <p class="porciento">{{ datos.PorcentajeRF * 100 }}%</p>
                <h3>Tus predicciones son:</h3>
                <ul>
                    <p>{{ datos.prediccionesRF }}</p>
                </ul>
            </section>
            <section class="area_modelo">
                <h2></i>Tu porcentaje de efectividad segun el modelo Máquina de Vector Soporte<i class="fas fa-sitemap"></i></h2>
                <p class="porciento">{{ datos.PorcentajeMVS * 100 }}%</p>
                <h3>Tus predicciones son:</h3>
                <ul>
                    <p>{{ datos.prediccionesMVS }}</p>
                </ul>
            </section>
            <section class="area_modelo">
                <h2></i>Tu porcentaje de efectividad segun el modelo Naive Bayes<i class="fas fa-calculator"></i></h2>
                <p class="porciento">{{ datos.PorcentajeNV * 100 }}%</p>
                <h3>Tus predicciones son:</h3>
                <ul>
                    <p>{{ datos.prediccionesNV }}</p>
                </ul>
            </section>

            <input class="boton" type="submit" value="Matriz de correlacion" name="MatrizCorrelación" onclick="location.href='/Mcorrelacion'">
            <input class="boton" type="submit" value="Grafico De Variables" name="GraficoVariables" onclick="location.href=('/GraficoDT')">


            <footer class="footer">
                <ul class="nav_foo">
                    <li class="nav_li1"><a href="#">Acerca de</a></li>
                    <li class="nav_li1"><a href="#">Lineas de atención</a></li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>
