<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de precipitaciones</title>
</head>
<body>
    <div class="index">
        <!--Parte superior del index-->
        <header class="header">
            <nav class="nav">

            </nav>
        </header>
        <!--Cuerpo del index-->
        <body class="body">
            <section class="area_1">

            </section>
            <section class="area_2">

            </section>
        </body>
        <!--Parte inferior del index-->
        <footer class="footer">

        </footer>
    </div>
</body>
</html>