<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de precipitaciones</title>
</head>
<body>
    <div class="index">
        <!--Parte superior del index-->
        <header>
            <nav class="nav">
                <ul class="nav_ul">
                    <h1 class="titulo">¡BIENVENIDO AL MODELO DE PREDICCIÓN DE PRECIPITACIONES!</h1>
                </ul>
            </nav>
        </header>
        <!--Cuerpo del index-->
        <div class="contenedor">
            <div class="area_1">
                <article>
                    <section class="zona_1">
                        <h2 class="titulo">¿Llovera mañana?</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non suscipit fuga omnis exercitationem excepturi! Harum repudiandae iusto consectetur doloribus enim inventore commodi quae minus, ad delectus porro, laboriosam velit culpa.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eum nemo explicabo nobis ut totam nulla earum possimus quas, quo unde ea, voluptatum expedita iste voluptatem impedit odio consectetur soluta?
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus ab consequatur voluptatum deleniti velit voluptas quisquam repellendus, quasi fugiat porro, magni qui deserunt ratione eaque? Aspernatur asperiores iure recusandae!
                        </p>
                    </section>
                </article>
            </div>
            <div class="area_2">
                <article class="zona_2">
                    <h2 class="titulo">Datos actualizados de predicciones futuras</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora dignissimos iure, aliquid soluta inventore odio culpa amet reprehenderit itaque tenetur laudantium aspernatur, asperiores nostrum autem magnam cupiditate natus eos.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, necessitatibus quibusdam. Mollitia voluptates, ab nam porro modi officia tenetur eligendi optio rerum nisi ea similique inventore, officiis rem dolores sunt?
                    </p>
                </article>
            </div>
        </div>      
    
        <div class="contenedor_2">
            <div class="boton_1">
                <button class="boton1">Probar modelo</button>
            </div>
            <div>
                <button class="boton2">Ver datos de la estacion metereologica</button>
            </div>
        </div>
        <!--Parte inferior del index-->
        <footer class="footer">
            <ul class="nav_foo">
                <li class="nav_li1"><a href="#">Acerca de</a></li>
                <li class="nav_li1"><a href="#">Lineas de atención</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>