<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de precipitaciones</title>
</head>
<body>
    <div class="index">
        <!--Parte superior del index-->
        <header>
            <nav class="nav">
                <ul class="nav_ul">
                    <li class="nav_li"><h1 class="titulo">¡BIENVENIDO!</h1></li>
                    <li class="nav_li1"><a href="#">Inicio</a></li>
                    <li class="nav_li1"><a href="#">Acerca de</a></li>
                    <li class="nav_li1"><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <!--Cuerpo del index-->
        <body class="body">
            <section class="area_1">
                <h2>¿Llovera mañana?</h2>
            </section>
            <section class="area_2">
                <h2>Datos actualizados de predicciones futuras</h2>
            </section>
            <section class="area_3">
                <button class="boton1">Probar modelo</button>
                <button class="boton2">Ver datos de la estacion metereologica</button>
            </section>
        </body>
        <!--Parte inferior del index-->
        <footer class="footer">

        </footer>
    </div>
</body>
</html>