<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probar modelo</title>
</head>
<body>
    <div class="prueba">
        <header>
            <nav class="nav">
                <ul class="nav_ul_">
                    <h1 class="titulo">¡BIENVENIDO AL LA SECCIÓN DE PRUEBA DEL MODELO!</h1>
                </ul>
            </nav>
        </header>
        <div class="contenedor_test">
            <div class="area_subir">
                <section>
                    <h2>Carga tu archivo con extensión csv</h2>
                    <input class="carga_archivo" type="file">
                </section>
            </div>
            <div class="muestra">
                <section>
                    <h2>Un ejemplo de como se ve el formato del archivo</h2>
                    <img class="ejemplo" src="static/img/ejemplo.png">
                </section>
            </div>
        </div>
        <footer class="footer">
            <ul class="nav_foo">
                <li class="nav_li1"><a href="#">Acerca de</a></li>
                <li class="nav_li1"><a href="#">Lineas de atención</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>