body{
    background-image: url('https://images.unsplash.com/photo-1517685352821-92cf88aee5a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: #5096CF;
    font-size: 20px;
}



.contenedor {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    flex-grow: 1;
    padding: 15px; 
}

.area_1, .area_2 {
    flex-basis: calc(50% - 10px);
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(89, 146, 191, 0.8);
}

.porciento {
    font-size: 36px;
    color: #34db4a; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin: 10px 0;
    transition: transform 0.2s;
    cursor: pointer;
}

.porciento:hover {
    transform: scale(1.1); 
}

.contenedor_2{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px;
}

.button1, .button2{
    flex-basis: calc(50% - 10px);
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.contenedor_datos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    flex-grow: 1; 
}

.area_historico, .area_graficos {
    flex-basis: calc(50% - 10px);
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Estilos de pantalla prueba */
.contenedor_test {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-grow: 1;
    height: 100%;
}

.area_subir,
.muestra {
    flex-basis: calc(50% - 10px);
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}




/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .header, .footer, .contenedor, .contenedor_2, .contenedor_404, .contenedor_datos, .contenedor_result {
        flex-direction: column;
    }
    
    .area_1, .area_2, .button1, .button2, .area_404, .area_historico, .area_graficos, .area_modelo {
        flex-basis: 100%;
    }

}