/**Estilos generales**/
body{
    background-color: white;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

/**Estilos barra de navegación**/
.navbar{
    background-color: #072146;
    font-size: 20px;
}

/**Estilos contenedor principal**/
.contenedor, .container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px; 
}

.subtitle{
    text-align: center;
}

.area_1, .area_2 {
    background-image: url('https://images.unsplash.com/photo-1517685352821-92cf88aee5a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80');
    background-size: cover;
    background-attachment: fixed;
    flex-basis: calc(50% - 10px);
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #000;
}
    
.porciento {
    font-size: 36px;
    color: #ffffff; 
    font-weight: bold; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9); 
    margin: 10px 0;
    transition: transform 0.2s;
    cursor: pointer;
}

.porciento:hover {
    transform: scale(1.1); 
}

.contenedor_2{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px;
}

.button1{
    flex-basis: calc(50% - 10px);
    padding: 15px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Estilos de apartado datos */
.contenedor_datos {
    padding: 15px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.titulo{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}


th {
    border: 1px solid #000; 
    padding: 8px;
    text-align: center; 
}

td {
    border: 1px solid #000; 
    border-right: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.matriz{
    text-align: center;
}

/* Estilos de apartado info */
.contenedor_info{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px;  
}

.area_info, .area_info2 {
    flex-basis: calc(50% - 10px);
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #000;
}



/* Estilos de pantalla prueba */
.prueba{
    background: rgb(184,184,184);
    background: radial-gradient(circle, rgba(184,184,184,1) 0%, rgba(250,250,250,1) 100%);
}
.contenedor_test {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-grow: 1;
    height: 100%;
    padding: 15px;
}

.area_subir, .muestra {
    flex-basis: calc(50% - 10px);
    padding: 0;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.text-bg-light {
    padding: 10px;
}


/* Estilos para la pantalla de Resultados */
.contenedor_result{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    flex-grow: 1;
    padding: 15px; 
}

.area_modelo, .area_modelo1, .area_modelo2, .area_modelo3{
    background: linear-gradient(
        rgba(30, 138, 222, 0.9),
        rgba(30, 138, 222, 0.6),
        rgba(30, 138, 222, 0.4),
        rgba(30, 138, 222, 0.3),
        rgba(30, 138, 222, 0.2)
    );
    color: #000;
    flex-basis: calc(50% - 10px);
    padding: 0;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
.area_modelo4{
    flex-basis: calc(100% - 10px);
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


/* Estilos de pantalla 404 */
.contenedor_404 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 20px;
    flex-grow: 1; 
    height: 100%;
}

.area_404 {
    flex-basis: 100%;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

/* Estilos modulo administrador */

.container_digitar {
    text-align: center;
    
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.registro_DB{
    background: rgb(184,184,184);
    background: radial-gradient(circle, rgba(184,184,184,1) 0%, rgba(250,250,250,1) 100%);
}

form {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px 0;
    box-sizing: border-box;
}

.registros {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.boton{
    flex: 1;
    text-align: center;
    margin-top: 10px;
}

.small-input {
    width: 50%;
    padding: 5px;
}

.form-group{
    width: 50%;
    padding: 5px;
}

/* Estilos del footer */
footer.container {
    max-width: 100%;
    background-color: #072146;
    color: white;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .contenedor, .contenedor_2,
    .contenedor_404, 
    .contenedor_test,
    .contenedor_result,
    .contenedor_info {
        flex-direction: column;
    }

    .area_1, .area_2,
    .button1, .contenedor_datos,
    .area_404, 
    .area_info, .area_info2, 
    .area_modelo, .area_modelo1, .area_modelo2, .area_modelo3, .area_modelo4, 
    .area_subir, .muestra{
        flex-basis: 100%;
    }
}