body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
}

.navbar{
    background-color: #072146;
    font-size: 20px;
}

.background-radial-gradient {
    background-size: 100%;
    background-color: #072146;
    background-image: radial-gradient(650px circle at 0% 0%,
        #072146 15%,
        #091f61 35%, 
        #0c1c7d 75%, 
        #0c1b87 80%, 
        transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
        #053ea9 15%, 
        #072146 35%, 
        #091f61 75%, 
        #0a1e6d 80%, 
        transparent 100%);
    margin: 0;
    padding: 0;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.h3 {
    font-size: 25px;
    text-align: center;
}

/* Estilos del footer */
footer.container {
    max-width: 100%;
    background-color: #072146;
    color: white;
}
