html, body{
    height: 100%;
}

body{
    background: radial-gradient(circle, #fff, #b1a8e2);
    background-size: cover;
    background-attachment: fixed;
}

header{
    height: 100px;
}

.nav{
    width: 100%;
}

.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    margin: auto;
    float: left;
    padding: 15px 40px;
}

.nav_ul{
    height: 100px;
    position: static;
}

.nav_li{
    height: 0;
}

.nav_li1{
    display: inline-block;
    padding: 30px 20px;
    color: #000;
}

.nav_li a{
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    font-weight: 23px;
    text-decoration: none;
}

.nav_li1:hover > a{
	color: #db5147;
}

.contenedor{
    position: static;
}

.area_1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
    float: right;
    padding: 30px 30px 30px 30px;
    width: 50%;
    background-color: red;
}
.area_1 h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.area_2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    float: left;
    height: auto;
    width: 50%;
    background-color: blue;
}

.area_2 h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}