<!--persona=datos
Personas=precipitaciones
-->
<!--
    Para inspeccionar alguna pagina como formato html se puede hacer con:
    ctrl + u
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" tydive="text/css" href="static/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with Mongo</title>
</head>
<body>
    <h1>BIENVENIDO</h1>
    <h2>* Registro </h2>
    <form action = "/guardar_datos" method = "post">        
        <input type = "text" name = "fecha" size="15" placeholder="Fecha = Año-Mes-Dia">
        <input type = "text" name = "hora" size="15" placeholder="Hora = 00:00:00">
        <input type = "number" name = "Po" size="15" placeholder="Po">
        <input type = "number" name = "T" size="15" placeholder="T">
        <input type = "number" name = "U" size="15" placeholder="U">
        <input type = "number" name = "Ff" size="15" placeholder="Ff">
        <input type = "number" name = "RRR" size="15" placeholder="RRR">
        <br>
        <br>
        <button type = "submit">Guardar</button>

    </form>

    <h2>* Visualización de datos </h2>
    
    <!--
        Se utiliza jinja2 para hacer la visualización y correspondiente actualización de los datos mediante un for que recorra todas nuestras colecciones
    -->

    {%for precipitacion in precipitaciones %}

    <form action="/editar_dato/{{ precipitacion.fecha }}" method="post">
        <h4>fecha</h4>
        <input type="text" name="fecha" value="{{precipitacion.fecha}}">
        <h4>hora</h4>
        <input type="text" name="hora" value="{{precipitacion.hora}}">
        <h4>Po</h4>
        <input type="number" name="Po" value="{{precipitacion.Po}}">
        <h4>T</h4>
        <input type="number" name="T" value="{{precipitacion.T}}">
        <h4>U</h4>
        <input type="number" name="U" value="{{precipitacion.U}}">
        <h4>Ff</h4>
        <input type="number" name="Ff" value="{{precipitacion.Ff}}">
        <h4>RRR</h4>
        <input type="number" name="RRR" value="{{precipitacion.RRR}}">
        <br>
        <br>
        <button type="submit">Actualizar</button>
        <!--Con la etiqueta de enlace y llamando al metodo eliminar se crea un acceso capaz de eliminar el registro-->
        <!--Se añade javaScript para mandar un mensaje de alerta-->
        <br>
        <a href="{{url_for('eliminar', fecha_Precipitacion=precipitacion.fecha)}}"onclick="return confirm('¿Esta seguro de eliminar el registro con la fecha {{precipitacion.fecha}}? ')">Eliminar registro de la DB</a>
        <hr>
    </form>
    {%endfor%}
    
</body>
</html>